.rounded-card {
    width: 100%; /* Full width inside accordion */
    min-height: 400px;
    margin: 20px auto; /* Adjusted margin for better fit */
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    overflow: hidden;
}

.modal-content {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1150px;
    height: 750px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    outline: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .o_error_dialog {
        padding: 1rem;
        margin-top: 400px;
    }
}
input[type="radio"].invalid-radio {
    outline: 2px solid red;
    outline-offset: -2px; /* Adjust to bring the outline closer to the radio button */
}


.s_website_form_field {
    /* font: normal normal normal 14px / 17px Inter; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px !important;
    padding-bottom: 14px !important;
    margin-left: 30px;
    color: black;
}

.container-adjuster {
    width: 1500px;
    margin-left: 225px;
}

.accordion .card-header {
    background-color: #dbe3e9;
    color: #6c757d;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
}
.accordion .card-header:hover {
    background-color: #a9b4bf;
    color: #333;
}
.accordion .card-header.hidden {
    display: none; /* Hide the header initially */
}
.sidebar {
    width: 300px;
    min-height: 300px;
    background-color: #dbe3e9;
    border-right: 1px solid #ddd;
}
.sidebar ul {
    padding-left: 0;
    padding-top: 20px;
    list-style-type: none;
}
.sidebar .nav-link {
    color: black;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1px;
    background-color: #dbe3e9;
    border-radius: 4px;
}
.sidebar .nav-link.active::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #139049;
}

.sidebar .nav-link:hover {
    background-color: #a9b4bf;
    color: #333;
}
.sidebar .nav-link.active {
    color: #fff;
    background-color: #06916b;
    font-size: 16px;
}

.content {
    padding: 20px;
    flex-grow: 1; /* Take up remaining space in the card */
    overflow-y: auto; /* Add scroll if content overflows */
    height: 100%; /* Full height of the rounded card */
}
.sidebar .nav-item:first-child {
    padding-top: 20px;
}

.form-template .breadcrumb-item a {
    color: #06916b;
    font: normal normal 600 14px/17px Inter;
}

.btn-outline-green {
    background-color: transparent;
    border-color: #06916b;
}

.btn-outline-secondary:hover {
    background-color: #06916b; /* Purple color */
    border-color: #06916b; /* Purple color */
    color: white;
}

.heading-header {
    background-color: #e6f7e8;
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 3.5%;
    margin-right: 8%;
    padding: 8px;
}

.heading-text {
    color: #06916b;
    margin-left: 1.5%;
}

.numbering {
    color: #06916b;
}

.additional_filter_container {
    display: flex;
    flex-wrap: nowrap; /* Ensure items stay in one row */
    gap: 20px; /* Adjust the gap between elements as needed */
    margin-left: 330px;
}
.search-box {
    width: 266px;
}

.additional_filter {
    flex: 1; /* Allow elements to grow and shrink as needed */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    margin-top: 22px;
    margin-bottom: 5px;
    height: auto;
    width: 80px;
    margin-left: 0;
    padding: 0px;
}
.error-message {
    color: red;
    display: none;
}

.card {
    width: 1200px;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
    opacity: 1;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}
.form-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}
h1 {
    text-align: center;
    color: #5d5c61;
}
.section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fafafa;
}
.section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.section input,
.section select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 600px; /* Ensure the section takes the full viewport height */
    position: relative;
}

.section-content {
    flex: 1 1 auto;
    padding: 20px;
    min-height: 600px;
}

.section-footer {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 10px;

    margin: 0px 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

input[type="radio"] {
    accent-color: #06916b;
}

.no_list {
    margin-left: 400px;
}

.custom-dashboard-background {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.custom-dashboard-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/g2p_ati_service_provider_portal/static/src/img/crop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4; /* Adjust transparency level */
    z-index: -1;
}

.card-container {
    display: flex;
    justify-content: center; /* Centers the cards horizontally */
    align-items: center; /* Centers the cards vertically */
    flex-direction: row;
    margin: 50px auto 0 auto; /* Adds margin from the main container on top */
    transform: translateX(20%); /* Moves the content to the right */
}

.card-container-mini {
    width: 60%; /* Adjusts the width of the cards to make them bigger */
    height: auto;
    margin-bottom: 30px; /* Adds spacing between cards */
}

.card {
    width: 90%; /* Increases the size of the cards */
    height: auto;
    margin-top: 80px;
    padding-top: 20px;
}

.card img {
    width: 100px; /* Makes the icons bigger */
    height: 80px;
    margin-top: 8%;
    margin-left: 40%;
    margin-bottom: 3%;
}

.gradient-card {
    background: linear-gradient(135deg, #f3f9a7 0%, #ffffff 100%); /* Green to white gradient */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
    color: #ffffff; /* Ensures text color is visible on the gradient */
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
}

.card p {
    font-size: 12px;
}

.card-foot a {
    font-size: 16px;
    color: #09a261;
}

.buttons {
    text-align: right;
}
.buttons button {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}
.buttons button.delete {
    background-color: #dc3545;
}
.buttons button:hover {
    background-color: #06916b;
}
.buttons button.delete:hover {
    background-color: #c82333;
}
.delete-icon {
    cursor: pointer;
    transition: transform 0.2s ease;
}
.delete-icon:hover {
    transform: scale(1.1);
}
.add-button-container {
    text-align: center;
    margin-top: 20px;
}
.add-button-container button {
    background-color: #06916b;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-button-container button:hover {
    background-color: #06916b;
}

.addLine {
    color: #06916b;
    background-color: #f0fff0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 50px;
}

.btn-primary {
    background-color: #06916b;
    color: white;
    border-color: #06916b;
}

.btn-primary:hover {
    background-color: #06916b;
    color: white;
}

.selectpicker option:checked::after {
    display: none !important; /* Important to override Bootstrap's default */
}

#land_selection option:hover {
    background-color: green;
}

/* Style for the radio button container */
.form-check-input[type="radio"] {
    appearance: none;
    background-color: white;
    border: 1px solid #06916b;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

/* Ensure the border color is green */
.form-check-input[type="radio"]:checked,
.form-check-input[type="radio"]:focus {
    border-color: #06916b;
}

/* Style for the checked state */
.form-check-input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 14px; /* Adjusted to center the inner circle */
    height: 14px; /* Adjusted to center the inner circle */
    border-radius: 50%;
    background-color: #06916b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the inner circle */
}

/* Ensure the border color is green for the unchecked state */
.form-check-input[type="radio"]::before {
    content: "";
    display: block;
    border: 1px solid #06916b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* input:invalid {
    border-color: red;
}
input:valid {
    border-color: green;
} */

.header-container {
    height: 110px;
}

.header-container .nav .main-logo,
.footer-container .nav .main-logo {
    width: 272px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 15px;
    opacity: 1;
    margin-left: -115px;
}

.header-container .nav {
    top: 0px;
    left: 0px;
    width: 1180px;
    height: 100px;
    border: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    opacity: 1;
}

.header-container .nav .nav-user {
    display: flex;
    width: auto;
}

.land_container2 {
    padding-left: 8px;
    padding-right: 8px;
}

.form-label2 {
    font-size: 15px;
}

.list_section {
    border-top: 1px dashed;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Hide the file input */
input[type="file"] {
    display: none;
}

/* Style the custom button */
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure items are spread out */
    padding: 6px 12px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* background-color: lightgray; */
    color: #333;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: background-color 0.3s ease;
    width: 100%; /* Adjust width to match other fields */
    box-sizing: border-box; /* Ensure padding is included in the width */
    height: 50%;
}

.upload-text {
    flex: 1; /* Allows text to take up available space */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Adjust spacing */
.custom-file-upload span {
    margin-left: auto; /* Push icon to the right end */
}

.custom-file-upload:hover {
    background-color: #ddd;
}

/* Adjust the height to match other input fields */
.custom-file-upload,
.custom-file-upload span,
.custom-file-upload i {
    line-height: 1.5; /* Ensure vertical alignment */
    color: #6c757d;
}

.land-separator {
    border: none;
    border-top: 1px dashed lightgray;
    margin-top: 5px; /* Adjust the vertical spacing */
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.btn-custom {
    /* border: 1px solid #bdc0be; Border color */
    font-family: "Arial", sans-serif;
    background-color: white;
    color: #333;
    width: 100%;
    border: 1px solid;
}

.bootstrap-select .dropdown-menu .inner li a {
    padding-left: 30px; /* Adjust spacing */
    position: relative;
    display: block;
    line-height: 1.5;
    color: black;
}

.bootstrap-select .dropdown-menu .inner li a:before {
    content: "";
    display: inline-block;
    width: 20px; /* Size of the checkbox */
    height: 20px; /* Size of the checkbox */
    border: 1px solid #ccc; /* Border color */
    border-radius: 3px; /* Rounded corners */
    position: absolute;
    left: 10px; /* Adjust position */
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
}

.bootstrap-select .dropdown-menu .inner li.selected a:before {
    content: "\2714"; /* Unicode checkmark symbol */
    font-size: 16px; /* Adjust size of the checkmark */
    color: white; /* Color of the checkmark */
    background-color: transparent;
    border: none; /* Remove border when selected */
}

.bootstrap-select .dropdown-menu .inner li .text {
    padding-left: 10px; /* Adjust spacing for text */
}

.hh-checkbox {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* Remove default styles in WebKit browsers */
    border: 1px solid #06916b; /* Border color */
    width: 20px; /* Size of the checkbox */
    height: 20px; /* Size of the checkbox */
    border-radius: 10px; /* Rounded corners */
    outline: none; /* Remove outline */
    position: relative; /* Position relative for custom checkmark */
}

.hh-checkbox:checked {
    background-color: #06916b;
    border-color: #06916b;
}

/* Adding a custom checkmark */
.hh-checkbox:checked::after {
    content: ""; /* Empty content */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Size of the checkmark */
    height: 10px; /* Size of the checkmark */
    background: white; /* Color of the checkmark */
    transform: translate(-50%, -50%) rotate(45deg); /* Center and rotate */
    border: 2px solid #06916b; /* Border color for the checkmark */
}

.list-row {
    background-color: #2dac64 !important;
}
